<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                    <h2>Total: $ <%= totalSum %></h2>
                </div>
                <div>
                    <button class="btn" id="order-btn" >Order</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51OXlAIAZK57wNYnQJNfcmMNa4p9xI681KyECP5FC3n2GZ9bMcUo0dB7gVOwNeIIYkAuQbnI5pPGuOJNZxyMbySZd00naBObXrO')
                        var orderBtn = document.getElementById('order-btn')
                        orderBtn.addEventListener('click',function() {
                            stripe.redirectToCheckout({
                                sessionId:'<%= sessionId %>',
                            }) //ya func hama stripe ka rouites pa lay jy ga waha par ham sa details lega card ki or wapas hamara page pa liyay ga
                        }) 
                    </script>

                </div>
                <hr>              
            <% } else { %>
                <h1>No Products to Checkout!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>